.container__video {
    height: 100vh;
    width: 100%;
}

.videoView__back {
    height: 70%;
    color: white;
    background-image: url(../images/video-bg.jpg);

    display: flex;
    justify-content: center;
    align-items: center;
}

.videoView__video img{
    position: relative;
    right:-420px;
    top: -175px;

    height: 300px;
    
}